---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import ExperienceCard from "../components/ExperienceCard.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.tsx";
import Link from "../components/Link.astro";

const projects = await getCollection("projects");
---

<script is:inline></script>

<Layout sidebarPaddingTop>
  <Header client:load />

  <Section title="About me" id="about-me">
    <p class="mt-4 leading-loose">
      I am a Ph.D. student in Electrical Engineering at the University of Florida, working in the <Link href="https://focus.ece.ufl.edu/">Focus Lab</Link> under
      the guidance of <Link href="https://www.ece.ufl.edu/people/faculty/sanjeev-j-koppal/">Prof. Dr. Sanjeev Koppal</Link>. My current research focuses on collision prediction, specifically exploring variable temporal resolution to improve
      prediction accuracy and effectiveness. My academic interests lie in computer vision, robotics, and embedded systems, with a strong emphasis on integrating
      these technologies to develop innovative solutions in autonomous systems.
    </p>

    <!-- <p class="mt-4 leading-loose">
      I earned my Bachelor's degree in Control and Automation Engineering from the Universidade Federal de Uberlândia, Brazil. During my studies, I conducted research
      at the Automation, Electronics, and Control Systems Lab (LASEC), where I led a project that was awarded an incentive grant from the Institutional Scientific 
      Initiation Scholarship Program (PIBIC) and the Foundation for Research Support of the State of Minas Gerais (FAPEMIG).
    </p> -->

    <div class="mt-12 grid grid-cols-2 gap-8 px-1 md:grid-cols-4">
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full w-full rotate-2 rounded-xl object-cover object-center" src="banner1.jpg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full -rotate-2 rounded-xl object-cover" src="banner2.jpeg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full rotate-2 rounded-xl object-cover" src="banner3.jpg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full -rotate-2 rounded-xl object-cover" src="banner4.jpeg" alt="" />
      </div>
    </div>

    <div class="mt-12 rounded-xl bg-neutral-200 p-6 shadow-md dark:bg-neutral-800">
      <h3 class="flex gap-2 text-xl font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path
            d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
          ></path>
          <path
            d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
          ></path>
          <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"></path>
        </svg>

        Education
      </h3>

      <ul class="mt-6">
        <li class="flex flex-col py-4">
          <div class="md:flex md:items-center md:justify-between">
            <div>
              <p class="font-semibold">PhD • Electrical and Computer Engineering</p>
              <div class="text-blue-600 dark:text-blue-400">University of Florida – UF</div>
            </div>
            <div class="text-sm text-neutral-600 dark:text-neutral-400 md:text-right">Jan 2025 - Present</div>
          </div>
        </li>
        <li class="flex flex-col border-t-2 border-neutral-300 py-4 dark:border-neutral-700">
          <div class="md:flex md:items-center md:justify-between">
            <div>
              <p class="font-semibold">Bachelor of Science • Control and Automation Engineering</p>
              <div class="text-blue-600 dark:text-blue-400">Federal University of Uberlândia – UFU</div>
            </div>
            <div class="text-sm text-neutral-600 dark:text-neutral-400 md:text-right">Aug 2018 - May 2024</div>
          </div>
        </li>
        <li class="flex flex-col border-t-2 border-neutral-300 py-4 dark:border-neutral-700">
          <div class="md:flex md:items-center md:justify-between">
            <div>
              <p class="font-semibold">Technical course • Computer Graphics</p>
              <div class="text-blue-600 dark:text-blue-400">Federal Insititute of Triangulo Mineiro – IFTM</div>
            </div>
            <div class="text-sm text-neutral-600 dark:text-neutral-400 md:text-right">Mar 2015 – Dec 2017</div>
          </div>
        </li>
      </ul>
    </div>
  </Section>

  <Section title="Experience" id="experience">
    <div class="mt-8">
      <ExperienceCard
        title="Research and Development (R&D) Systems Analyst"
        location="Wisebyte Company"
        time="Nov 2022 – Nov 2024"
        descriptions={[
          "Employee in charge of research and development of firmwares for embedded systems and micro-controllers, such as ESP32 and STM32, applied to IoT solutions",
          "Contribute to the creation, assembly and testing of hardware components, utilizing design tools such as the software KiCad for schematic planning and development",
          "Collaborates in the design creation and prototyping process of products through 3D modeling and printing",
        ]}
      />
      <ExperienceCard
        title="Researcher at the Automation, Electronic and Control Systems Lab (LASEC)"
        location="Universidade Federal de Uberlândia"
        time="Jul 2021 – Oct 2023"
        descriptions={[
          "Conducted a research titled 'Development and  Implementation of a Firmware Gateway MODBUS TCP/RTU Inter-Protocol Communicator for Industrial application'  in the field of embedded systems focused on industrial networks",
          "Member of the organizing committee for the 8th University Robotics Tournament (TUR) and the 4th Sumo Robot Competition, responsible for creating and teaching a basic robotics course for participants.",
        ]}
      />
    </div>
  </Section>

  <Section title="Projects" id="projects">
    <Projects client:load projects={projects} />
  </Section>

  <Section title="STEM" id="projects">
    <Projects client:load projects={projects} />
  </Section>
</Layout>
