---
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<script is:inline>
  function toggleDarkMode() {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
      document.querySelector("#darkModeButton").innerHTML =
        `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-purple-600">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
          />
        </svg>`;
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
      document.querySelector("#darkModeButton").innerHTML =
        `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
          />
        </svg>`;
    }
  }
</script>

<Layout>
  <header class="fixed inset-x-0 top-4 z-10 w-full lg:sticky lg:top-0">
    <nav class="flex w-full justify-center">
      <ul
        class="flex overflow-hidden rounded-full border-2 border-neutral-300 bg-neutral-100 px-3 text-sm font-semibold dark:border-neutral-700 dark:bg-neutral-900"
      >
        <li>
          <a href="#about-me" id="about-me-link" class="flex h-full p-3 hover:text-purple-600 dark:hover:text-purple-400">About</a>
        </li>
        <li>
          <a href="#experience" id="experience-link" class="flex h-full p-3 hover:text-purple-600 dark:hover:text-purple-400">Experience</a>
        </li>
        <li>
          <a href="#projects" id="projects-link" class="flex h-full p-3 hover:text-purple-600 dark:hover:text-purple-400">Projects</a>
        </li>

        <li>
          <button id="darkModeButton" class="py-3 pl-1 pr-3" onclick="toggleDarkMode()"> </button>
        </li>
      </ul>
    </nav>
  </header>

  <Section title="About me" id="about-me">
    <p class="mt-4 leading-loose">
      I am a Ph.D. candidate at the Cyberbotics Lab at The Ohio State University with six years of hands-on experience as a Robotics Engineer. My expertise lies
      in creating robuts locomotion controllers for bipedal locomotion through the combination of reinforcement learning and model-based control in both
      simulations and real-world hardware scenarios.
    </p>

    <div class="mt-12 grid grid-cols-2 gap-8 px-1 md:grid-cols-4">
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full w-full rotate-2 rounded-xl object-cover object-center" src="banner1.jpg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full -rotate-2 rounded-xl object-cover" src="banner2.jpeg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full rotate-2 rounded-xl object-cover" src="banner3.jpg" alt="" />
      </div>
      <div class="aspect-h-1 aspect-w-1">
        <img class="h-full -rotate-2 rounded-xl object-cover" src="banner4.jpeg" alt="" />
      </div>
    </div>

    <div class="mt-12 rounded-xl bg-neutral-200 p-6 shadow-md dark:bg-neutral-800">
      <h3 class="flex gap-2 text-xl font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path
            d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
          ></path>
          <path
            d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
          ></path>
          <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"></path>
        </svg>

        Education
      </h3>

      <ul class="mt-6">
        <li class="flex flex-col py-4">
          <div class="md:flex md:items-center md:justify-between">
            <div>
              <p class="font-semibold">Bachelor of Science • Control and Automation Engineering</p>
              <div class="text-purple-600 dark:text-purple-400">Federal University of Uberlândia – UFU</div>
            </div>
            <div class="text-xs text-neutral-600 dark:text-neutral-400">Aug 2018 - May 2024</div>
          </div>
        </li>
        <li class="flex flex-col border-t-2 border-neutral-300 py-4 dark:border-neutral-700">
          <div class="md:flex md:items-center md:justify-between">
            <div>
              <p class="font-semibold">Technical course in Computer Graphics</p>
              <div class="text-purple-600 dark:text-purple-400">Federal Insititute of Triangulo Mineiro – IFTM</div>
            </div>
            <div class="text-xs text-neutral-600 dark:text-neutral-400">Mar 2015 – Dec 2017</div>
          </div>
        </li>
      </ul>
    </div></Section
  >

  <Section title="Experience" id="experience">
    <div class="mt-8">
      <ExperienceCard
        title="Research and Development (R&D) Systems Analyst"
        location="Wisebyte Company"
        time="Jan 2024 – Present"
        descriptions={[
          "Employee in charge of research and development of firmwares for embedded systems and micro-controllers, such as ESP32 and STM32, applied to IoT solutions",
          "Contribute to the creation, assembly and testing of hardware components, utilizing design tools such as the software KiCad for schematic planning and development",
          "Collaborates in the design creation and prototyping process of products through 3D modeling and printing",
        ]}
      />
      <ExperienceCard
        title="Research and Development (R&D) Systems Analyst"
        location="Wisebyte Company"
        time="Jan 2024 – Present"
        descriptions={[
          "Employee in charge of research and development of firmwares for embedded systems and micro-controllers, such as ESP32 and STM32, applied to IoT solutions",
          "Contribute to the creation, assembly and testing of hardware components, utilizing design tools such as the software KiCad for schematic planning and development",
          "Collaborates in the design creation and prototyping process of products through 3D modeling and printing",
        ]}
      />
    </div>
  </Section>

  <Section title="Projects" id="projects">
    <div class="mt-8">
      <ul class="inline-flex divide-x-2 divide-purple-600 overflow-hidden rounded-xl border-2 border-purple-600 dark:divide-purple-400 dark:border-purple-400">
        <li class="bg-purple-600 px-4 py-1 text-neutral-100 dark:bg-purple-400">All</li>
        <li class="px-4 py-1">Robos</li>
        <li class="px-4 py-1">Robos</li>
      </ul>
    </div>

    <div class="mt-8 grid gap-4 md:grid-cols-2 xl:grid-cols-3">
      <ProjectCard
        image="robo.jpg"
        title="Robo wisey"
        body="A hierarchical framework for bipedal locomotion that combines an RL-based high-level (HL) planner policy for the online generation."
        href="github.com"
      />

      <ProjectCard
        image="robo.jpg"
        title="Robo wisey"
        body="A hierarchical framework for bipedal locomotion that combines an RL-based high-level (HL) planner policy for the online generation."
        href="github.com"
      />

      <ProjectCard
        image="robo.jpg"
        title="Robo wisey"
        body="A hierarchical framework for bipedal locomotion that combines an RL-based high-level (HL) planner policy for the online generation."
        href="github.com"
      />
    </div>
  </Section>
</Layout>
