---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<div class="mb-8 min-h-full max-w-[900px] snap-start pt-8 lg:mb-16 lg:pt-16" id={id} data-section>
  <h3 class="text-2xl font-bold">{title}</h3>

  <slot />
</div>
