---
import Github from "../icons/github.html";
import Linkedin from "../icons/linkedin.html";
import Youtube from "../icons/youtube.html";
import Mail from "../icons/mail.html";
---

<div class="flex px-4 pb-8 pt-24 lg:ml-auto lg:h-full lg:w-96 lg:flex-col lg:border-r-2 lg:border-neutral-300 lg:px-12 lg:pb-12 lg:dark:border-neutral-700">
  <img src="foto2.jpg" alt="" class="size-20 shrink-0 rounded-full border-4 border-neutral-300 object-cover dark:border-neutral-700 sm:size-32 lg:size-40" />

  <div class="ml-4 flex h-full flex-col lg:ml-0">
    <div class="flex-grow">
      <h1 class="font-bold sm:text-lg lg:mt-4">Thiago Fernando Cuevas Mestanza</h1>

      <p class="mt-1 text-neutral-600 dark:text-neutral-400">Bacharel em Engenharia de Controle e Automação</p>
    </div>

    <div class="mt-6 flex gap-4 lg:flex">
      <a
        class="rounded-xl border-2 border-neutral-300 p-2 text-neutral-600 hover:bg-neutral-300 hover:text-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-100"
        href="https://github.com/thiagofcm"
        target="_blank"
      >
        <Github />
      </a>
      <a
        class="rounded-xl border-2 border-neutral-300 p-2 text-neutral-600 hover:bg-neutral-300 hover:text-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-100"
        href="https://br.linkedin.com/in/thiago-cuevas/pt"
        target="_blank"
      >
        <Linkedin />
      </a>
      <a
        class="rounded-xl border-2 border-neutral-300 p-2 text-neutral-600 hover:bg-neutral-300 hover:text-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-100"
        href="https://github.com/thiagofcm"
        target="_blank"
      >
        <Youtube />
      </a>
      <a
        class="rounded-xl border-2 border-neutral-300 p-2 text-neutral-600 hover:bg-neutral-300 hover:text-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-100"
        href="https://github.com/thiagofcm"
        target="_blank"
      >
        <Mail />
      </a>
    </div>
  </div>
</div>
