  ---
  import type { CollectionEntry } from "astro:content";
  import { getCollection } from "astro:content";
  import Layout from "../../layouts/Layout.astro";
  const { headings } = Astro.props;

  export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => {
      return {
        params: {
          slug: project.slug,
        },
        props: {
          project,
        },
      };  
    });
  }

  interface Props {
    project: CollectionEntry<"projects">;
  }

  const { project } = Astro.props;
  const { Content } = await project.render();
  ---

  <Layout>
    <div class="max-w-[900px] pt-16">
      <header>
        <a href="/" class="inline-flex items-center gap-2 font-semibold text-purple-600 hover:text-purple-700 dark:text-purple-400 dark:hover:text-purple-300">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
            <path
              fill-rule="evenodd"
              d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
              clip-rule="evenodd"></path>
          </svg>

          Back to home
        </a>
        <h1 class="mt-6 text-4xl font-bold">{project.data.title}</h1>
        <div class="mt-1 text-lg text-neutral-600 dark:text-neutral-400">{project.data.category}</div>
      </header>

      <img class="mt-12 rounded-xl border-b-2 border-neutral-300 dark:border-neutral-700" src={project.data.image} alt="" />

      <section class="mt-12">
        <Content />
      </section>
    </div>
  </Layout>
