---
import Sidebar from "../components/Sidebar.astro";
const { headings } = Astro.props;
const { sidebarPaddingTop } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Thiago Fernando Cuevas Mestanza</title>
  </head>
  <body class="h-screen w-screen bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 lg:flex lg:overflow-hidden">
    <aside class="left-auto flex-grow bg-neutral-200 dark:bg-neutral-800 lg:h-full lg:basis-[384px]">
      <Sidebar sidebarPaddingTop={sidebarPaddingTop} />
    </aside>

    <main
      id="main"
      class="relative flex flex-grow flex-col bg-neutral-100 px-4 pb-16 dark:bg-neutral-900 lg:h-full lg:basis-[900px] lg:overflow-y-auto lg:px-12"
    >
      <slot />
    </main>
  </body>
</html>

<script is:inline>
  const initalTheme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  })();

  if (initalTheme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  window.localStorage.setItem("theme", initalTheme || "light");

  const toggleLinks = (main) => {
    const sections = document.querySelectorAll("[data-section]");
    const links = document.querySelectorAll("header nav ul li a");
    let current = "";

    sections.forEach((section) => {
      const sectionTop = section.offsetTop;
      if ((main ? main.scrollTop : window.scrollY) >= sectionTop - 60) {
        current = section.getAttribute("id") + "-link";
      }
    });

    links.forEach((link) => {
      link.classList.remove("border-b-2", "border-purple-600", "text-purple-600", "dark:border-purple-400", "dark:text-purple-400");
      if (link.getAttribute("id") === current) {
        link.classList.add("border-b-2", "border-purple-600", "text-purple-600", "dark:border-purple-400", "dark:text-purple-400");
      }
    });
  };

  toggleLinks();
  toggleLinks(document.querySelector("#main"));

  window.addEventListener("scroll", () => {
    toggleLinks();
  });

  document.querySelector("#main").addEventListener("scroll", () => {
    toggleLinks(document.querySelector("#main"));
  });
</script>
